lxml>=2.0
relatorio[fodt]>=0.7.0
Genshi
python-dateutil
polib
python-sql>=0.5
werkzeug
wrapt
passlib
ldap3
python-stdnum
simpleeval
cached_property
requests
stripe
csb43
coda
pyyaml
future
febelfin-coda
ofxparse
zeep
PyPDF2
psycopg2-binary
image
jinja2
babel
weasyprint
pendulum
numpy
kajiki
pandas
python-barcode
asteval
proteus<5.1
python-gantt
yearfrac
python-cas
phonenumbers
email_validator
treepoem

#[BCrypt]
passlib[bcrypt]

#[Levenshtein]
python-Levenshtein

#[PostgreSQL]
psycopg2>=2.5.4

#[graphviz]
pydot

#[html2text]
html2text

